/* ============== Alcohol.js page ================= */

.alcohol-page-container {
  width: 100%;
  height: 100vh;

  .alcohol-page-title {
    text-align: center;
    font-size: 45px;
    padding-top: 15px;
  }

  .alcohol-page-description {
    font-size: 18px;
    margin-top: 40px;

    .read-more-button {
      cursor: pointer;
    }
  }
}
