/* ========== DrinkList Component =========== */

.none-found-message {
  font-size: 25px;
  text-align: center;
  padding-top: 15px;
}

.drink-list-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 10px auto;
  /* background-color: #FDF7E3; */
  align-items: center;
  position: relative;
  max-width: 500px;

  .drink-list-item-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 20px auto;
    align-items: center;
    position: relative;
    min-height: 150px;
    padding: 20px 20px 20px 20px;
    background-color: $card-background;
    z-index: 0;
    border-radius: 5px;
    font-size: 20px;
    
    .drink-list-image {
      background-color: white;
      height: 100px;
      width: 100px;
      z-index: 4;
      margin-left: -40px;
      position: relative;
      border-radius: 3px;
      box-shadow: 5px 5px 15px 1px $box-shadow-color;
    }

    .drink-list-text {
      font-family: $libre-baskerville;
      font-size: 25px;
      display: inline;
      margin: auto;
      color: black;
      align-items: center;
      text-align: center;
      position: relative;

      .drink-list-link {
        text-decoration: none;
        color: inherit;
      }
    }
  }
  .drink-list-item-container:hover {
    background-color: #e6e6e6;
  }
}
