/* ============== Home.js ============== */

.secondary-navbar {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  background-color: $card-background;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: black;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid;

  .search-bar-container {
    display: flex;
    align-items: center;
    width: 40%;
    padding: 5px;

    .search-bar {
      border: 1px solid #000;
    }
  }
}

.random-drinks-message {
  text-align: center;
  font-size: 25px;
  padding-top: 25px;
}

.random-drinks-button {
  font-family: $satisfy;
  color: black !important;
  border: none !important;
  background-color: rgb(255, 230, 0) !important;
  margin-top: 7px;
  padding-top: 6px !important;
  margin-bottom: 6px !important;
  font-size: 20px !important;
}

.feeling-span {
  font-family: $lato !important;
  font-style: italic !important;
  font-size: 18px;
}
