/* ============== Home.js ============== */

.secondary-navbar {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  background-color: $card-background;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: black;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-bottom: 1px black solid;

  .search-bar-container {
    display: flex;
    align-items: center;
    width: 40%;
    padding: 5px;

    .search-bar {
      border: 1px solid #000;
    }
  }
}

.btn-black {
  background: #000 !important;
  background-color: #000 !important;
  color: rgb(245, 220, 4) !important;
  font-size: 16px;
  height: calc(1.5em + 0.75rem + 2px);
  width: 50px;
  border-radius: 3px;
  font-weight: 800;
  border: 1px #000 solid;
}

.dropdown-toggle {
  background: #000 !important;
  background-color: #000 !important;
  color: rgb(245, 220, 4) !important;
  font-size: 16px;
  height: calc(1.5em + 0.75rem + 2px);
  width: 180px;
  border-radius: 3px;
  font-weight: 800;
  border: 2px #000 solid !important;
}

.random-drinks-message {
  text-align: center;
  font-size: 25px;
  padding-top: 25px;
}

.random-drinks-button {
  font-family: $satisfy;
  color: black !important;
  border: 0.5px black solid !important;
  background-color: rgb(255, 230, 0) !important;
  margin-top: 7px;
  padding-top: 5px !important;
  padding-bottom: 3px !important;
  margin-bottom: 8px !important;
  font-size: 20px !important;
}

.random-drinks-button:hover {
  background-color: rgb(245, 220, 4) !important;
}

.feeling-span {
  font-family: $lato !important;
  font-style: italic !important;
  font-size: 18px;
}
