.search-page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-result-title {
  text-align: center;
  font-size: 25px !important;
  //   margin: 10px auto;
  padding: 25px 20px 0;
  margin-bottom: -15px;
}
