@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
/* font-family: 'Libre Baskerville', serif; */

@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
/* font-family: 'Major Mono Display', monospace; */

@import url("https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap");

/* ============== Hero.js ================= */

.hero-image {
  background-image: linear-gradient(rgba(255, 230, 0, 1), rgba(255, 230, 0, 0.8)), url("./assets/DancingPeople.jpeg");
  /* background-color: #FFE600; */
  height: 600px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero-logo {
  /* text-align: center; */
  position: relative;
  width: 500px;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  /* padding-bottom: 40px; */
  transform: translate(-50%, -50%);
  color: white;
}

.hero-slogan {
  position: relative;
  font-family: "Permanent Marker", cursive;
  bottom: 0px;
  font-size: 40px;
  margin-top: 50px;
  text-align: center;
}

/* ============== NavBar ================= */

.nav {
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 5px 7px 7px rgba(0, 0, 0, .5);
}
.navLinks {
  font-family: "Lora", cursive;
  font-size: 45px;
  letter-spacing: 3px;
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
}

.logo {
  /* color: rgb(255, 254, 242);
  font-family: 'Major Mono Display', monospace;
  font-size: 35px; */
  padding: 0 10px 5px 20px;
  top: 0;
  left: 0;
  position: absolute;
}

.container {
  width: 100%;
  height: 100vh;
}

ul {
  /* margin: 0;
  padding: 0; */
  text-decoration: none;
  list-style-type: none;
}

a:link,
a:visited {
  color: inherit;
}

/* ========== DrinkList Component =========== */

.drink-list-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 10px auto;
  /* background-color: #FDF7E3; */
  align-items: center;
  position: relative;
  max-width: 500px;
}

.drink-list-image {
  background-color: white;
  height: 100px;
  width: 100px;
  z-index: 4;
  margin-left: -40px;
  position: relative;
  border-radius: 3px;
  box-shadow: 5px 7px 13px #888888;
}

.drink-list-item-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 20px auto;
  align-items: center;
  position: relative;
  min-height: 150px;
  padding: 20px 20px 20px 20px;
  background-color: #f1f1f1;
  z-index: 0;
  border-radius: 5px;
  font-size: 20px;
}

.drink-list-text {
  font-family: "Libre Baskerville", serif;
  font-size: 25px;
  display: inline;
  margin: auto;
  color: black;
  align-items: center;
  text-align: center;
  position: relative;
}

.none-found-message {
  font-size: 25px;
  text-align: center;
  padding-top: 15px;
}

/* ============== Home.js ============== */

.home-container {
  padding-top: 8px;
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
  justify-content: space-around;
  align-items: center;
  background-color: #888888;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-bar-container {
  display: flex;
  align-items: center;
  width: 40%;
  padding: 5px;
}

.random-drinks-message {
  text-align: center;
  font-size: 25px;
  padding-top: 25px;
}

/* ============== Drink.js page ================= */

.drink-page-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 50px auto;
  /* background-color: #FDF7E3; */
  align-items: center;
  position: relative;
}

.drink-page-image {
  background-color: white;
  height: 300px;
  width: 300px;
  z-index: 4;
  margin-left: 40px;
  margin-bottom: 200;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  box-shadow: 5px 7px 13px #888888;
}

.drink-page-text-container {
  min-height: 400px;
  padding: 20px 30px 20px 200px;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  z-index: 0;
  margin: 20px 10px 10px 200px;
  border-radius: 5px;
  font-size: 20px;
}

/* ============== Alcohol.js page ================= */

.alcohol-page-title {
  text-align: center;
  font-size: 45px;
  padding-top: 15px;
}

.alcohol-page-description {
  font-size: 18px;
  margin-top: 40px;
}

.alcohol-page-drink-list {
  /* Styles in here will override drinklist component and be specific to the alcohol page */
}

.alcoholDrinkListLink a {
  text-decoration: none;
}

.read-more-link {
  cursor: pointer;
}

/* ============== About.js page ================= */
.about-container {
  padding-top: 50px;
  display: block;
}

.about-app {
  padding-bottom: 50px;
  font-size: 25px;

}

.developer-container {
  display: flex;
  flex-direction: row;
  font-size: 20px;

}
.content {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 80%;
  /* margin: -20px; */
}

.picture-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -40px;
}
.profile-picture {
  background-color: white;
  height: 200px;
  width: 200px;
  z-index: 4;
  /* margin-left: -40px;
  margin-top: -40px; */
 
  position: relative;
  border-radius: 3px;
  box-shadow: 5px 7px 13px #888888;

}

.bio {
  background-color: #f1f1f1;
  border-radius: 3px;
  font-size: 22px;
  padding: 60px 15px 10px 15px ;
}

.about-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 120px;
  font-size: 30px;
}