@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
/* font-family: 'Libre Baskerville', serif; */

@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
/* font-family: 'Major Mono Display', monospace; */

@import url('https://fonts.googleapis.com/css2?family=Sirin+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');

/* ============== Hero.js ================= */

.hero-image {
  background-image: linear-gradient(
      rgba(255, 230, 0, 1),
      rgba(255, 230, 0, 0.8)
    ),
    url('./assets/DancingPeople.jpeg');
  /* background-color: #FFE600; */
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-logo {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  padding-bottom: 30px;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-slogan {
  position: absolute;
  font-family: 'Permanent Marker', cursive;
  bottom: 0px;
  font-size: 40px;
}

/* ============== NavBar ================= */

.nav {
  background-color: black;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navLinks {
  font-family: 'Lora', cursive;
  font-size: 45px;
  letter-spacing: 3px;
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
}

.logo {
  /* color: rgb(255, 254, 242);
  font-family: 'Major Mono Display', monospace;
  font-size: 35px; */
  padding: 0 10px 5px 20px;
  top: 0;
  left: 0;
  position: absolute;
}

.container {
  width: 100%;
  height: 100vh;
}

ul {
  /* margin: 0;
  padding: 0; */
  text-decoration: none;
  list-style-type: none;
}

a:link,
a:visited {
  color: inherit;
}

.randomDrinkList {
  font-family: 'Libre Baskerville', serif;
  align-items: center;
}

.randomDrinksButton {
  justify-content: center;
}

.btn {
  margin: 5px;
}

.randomDrinksButton {
  margin-top: 0px;
  margin-bottom: 10px;
}

/* ============== Drink.js page ================= */

.single-drink-container {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 50px auto;
  /* background-color: #FDF7E3; */
  align-items: center;
  position: relative;
}

.single-drink-image {
  background-color: white;
  height: 300px;
  width: 300px;
  z-index: 4;
  margin-left: 40px;
  margin-bottom: 200;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  box-shadow: 5px 7px 13px #888888;
}

.single-drink-text-container {
  min-height: 400px;
  padding: 20px 30px 20px 200px;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  z-index: 0;
  margin: 20px 10px 10px 200px;
  border-radius: 5px;
  font-size: 20px;
}

/* .single-drink {
  padding: 30px auto;
  width: 70%;
  font-family: 'Libre Baskerville', serif;
  align-items: center;
  justify-content: center; */
/* } */

/* ============== Alcohol.js page ================= */

.alcoholDrinkList {
  /* font-family: 'Libre Baskerville', serif; */
  border: 0.5px solid #000;
  box-shadow: 3px 5px 10px #888888;
  border-radius: 4px;
  background-color: #cdd7d6;
  justify-content: center;
  align-items: center;
  position: relative;
}

.alcoholDrinkListLink {
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
  display: inline;
  margin: auto;
  color: #fff;
  align-items: center;
  position: relative;
}

.alcoholDrinkListLink a {
  text-decoration: none;
}
